/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
} */