.navmenu {
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5vh;
  flex-direction: row;
  background: #22242b;
  color: white;
  height: 6vh;
  .navbar_left {
    margin-left: 3vh;
  }
  .navbar_right {
    // background: white;
    padding-right: 3vh;
    padding-bottom: 0.7vh;
  }
  .navicon {
    padding-left: 2vh;
  }
  .exiticon {
    margin-left: 0.7vh;
  }
}

.light_navmenu{
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5vh;
  flex-direction: row;
  background: white;
  color: black;
  height: 6vh;
  box-shadow: 0px .4vh .4vh rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 1vh 1vh;
  .navbar_left {
    margin-left: 3vh;
  }
  .navbar_right {
    // background: white;
    padding-right: 3vh;
    padding-bottom: 0.7vh;
  }
  .navicon {
    padding-left: 2vh;
  }
  .exiticon {
    margin-left: 0.7vh;
  }
}

.modal {
  top: 0;
  left: 0;
  margin-left: 4vh;
  margin-top: 6.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  flex-direction: column;
  position: fixed;
  background: #22242b;
  box-shadow: 0px 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 1vh 1vh;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 27vh;
    height: 3vh;
    background: #5155ff;
    border-radius: 0.6vh;
  }
  .admins{
    margin: 1vh
  }
  .leaders {
    margin: 1vh
  }
}

.light_modal {
  top: 0;
  left: 0;
  margin-left: 4vh;
  margin-top: 6.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  flex-direction: column;
  position: fixed;
  background: white;
  box-shadow: 0px 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 1vh 1vh;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 27vh;
    height: 3vh;
    background: #5155ff;
    border-radius: 0.6vh;
  }
  .admins{
    margin: 1vh
  }
  .leaders {
    margin: 1vh
  }
}

.modal_popup{
  top: 0;
  right: 0;
  margin-right: 4vh;
  margin-top: 6.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5vh;
  line-height: 2.4vh;
  color: white;
  flex-direction: column;
  position: fixed;
  background: #22242b;
  box-shadow: 0px 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 1vh 1vh;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  p{
    padding: 1vh;
    color: white;
  }
}

.light_modal_popup{
  top: 0;
  right: 0;
  margin-right: 4vh;
  margin-top: 6.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5vh;
  line-height: 2.4vh;
  color: black;
  flex-direction: column;
  position: fixed;
  background: #FFFFFF;
  box-shadow: 0px .4vh .4vh rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 1vh 1vh;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  p{
    padding: 1vh;
    color: black;
  }
}

.modal_settings{
  z-index: 1000;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.9vh;
  line-height: 270%;
  align-items: start;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
  background: #22242b;
  border-radius: 10px;
  color: white;
  width: 42vh;
  height: 16vh;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  .header{
    padding-left: 16vh;
    display: flex;
    flex-direction: row;
    p{
      font-weight: 700;
    }
    img{
      position: absolute;
      margin-top: 1vh;
      margin-left: 22vh;
    }
  }
}

.light_modal_settings{
  z-index: 1000;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.9vh;
  line-height: 270%;
  align-items: start;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
  background: white;
  border-radius: 10px;
  color: black;
  width: 42vh;
  height: 16vh;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  .header{
    padding-left: 16vh;
    display: flex;
    flex-direction: row;
    p{
      font-weight: 700;
    }
    img{
      position: absolute;
      margin-top: 1vh;
      margin-left: 22vh;
    }
  }
}

.popup_menu_container{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  animation-name: fadeIn;
  animation-duration: 0.3s;
}

.light_popup_menu_container{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  animation-name: fadeIn;
  animation-duration: 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
